<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        .section {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            background: url("{% static 'images/background.jpeg' %}")no-repeat center center/cover;
        }
        .skill-item a {
            text-decoration: none;
            color: white;
        }
        .skill-item a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">Skills Exchange</div>
            <div class="menu">
                <a href="#skills-list">Skills list</a>
                <a href="#home">Home</a>
                <a href="#login">Login</a>
            </div>
        </div>
    </header>

    <!-- Home page section -->
    <section id="home" class="section main">
        <div class="content">
            <h1>Share your skills</h1>
            <button class="join-button">Join today</button>
        </div>
    </section>

    <!-- Skills list section -->
    <section id="skills-list" class="section main">
        <div class="content">
            <h2>Skills List</h2>
            <div class="skills-grid">
                {% for skill in skills %}
                    <div class="skill-item"><a href="{% url 'skill_slots' skill.id %}">{{ skill.name }}</a></div>
                {% endfor %}
            </div>
        </div>
    </section>

</body>
</html>
